body {

    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;

}

/* header section starts from here  */
.gamer-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 6rem;
    background: #FFF;
    box-shadow: 0rem .25rem 1.87rem 0rem rgba(0, 0, 0, 0.05);
    align-items: center;
}

.gamer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 15rem;
}

.game-sign {
    width: 5rem;
    height: 2.7rem;
}

.gamer-color {
    color: #FF42A5;
}

.nav-title {
    text-align: center;
    font-weight: 700;
    line-height: normal;
    color: #0B0223;
    font-size: 3rem;

}

.game-about {
    display: flex;
    margin-right: 15rem;
}

.about-us>ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.about-us>ul>li a {
    text-decoration: none;
}

.follow-us>ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.follow-us>ul>li a {
    text-decoration: none;
}

.follow-us {
    width: 250px;
    height: 66px;
    border-radius: 10px;
    background: rgba(11, 2, 35, 0.10);
    text-align: center;
}

.about-us {
    margin-right: 1.5rem;
    text-align: center;
    color: #3C354F;
}

.vector {
    position: relative;
    bottom: 2px;
    padding-right: 1.5rem;
}

#follow {
    padding-right:1rem;
    margin: 0;
}

.tiktok {
    position: relative;
    bottom: 2px;
    padding-right: .5rem;
}

/* goat section starts here */

.goat {
    display: flex;
    justify-content: space-between;
    background-color: rgba(241, 68, 174, 0.03);

}

.play {
    width: 901px;
    height: 700px;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    padding-left: 15rem;
}

.play-title {
    padding-top: 10rem;
    font-size: 3rem;
    font-weight: 600;
    color: rgba(11, 2, 35, 1);
    text-transform: uppercase;
}


.goat-title {
    font-size: 6rem;
    ;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(#F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-home {
    padding-right: 15rem;
}

.btn-primary {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: rgba(255, 255, 255, 1);
    font-size: 1.3rem;
    border: 0;
}

.rogue-btn {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background-color: rgba(78, 197, 247, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1.3rem;
    border: 0;
}

.sign-btn {
    display: flex;
    gap: 1.5rem;
}

.para {
    position: relative;
    bottom: 2rem;
}

/* gamers section starts from here  */
.gamers {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    width: 100%;
    height: 37.5rem;
    align-items: center;
}

.gamers-img {
    padding-left: 15rem;

}

.gamers-content {
    text-align: right;
    padding-right: 15rem;
}

.gamers-content-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamers-content-para {
    position: relative;
    bottom: 1.5rem;
}

.ellipsis {
    text-overflow: ellipsis;
}

.unleash {
    color: #534C64;
    font-family: Work Sans;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;

}


/* online games sections starts from here */
.online-game {
    width: 100%;
    background: #FFF;
}

.online-game-title {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;

}

.online-game-para {
    text-align: center;
    position: relative;
    bottom: 1.5rem;
}

.game-cards {
    display: flex;
    /* padding: .5rem 15rem; */
    margin-left: 17rem;
    gap: 2rem;
    /* width: 100%; */
    background: #FFF;

}

.game-cards>img {
    width: 20rem;
    height: 25rem;
}


/* horse-container section starts from here  */

.horse-container {
    display: flex;
    margin-top: 5rem;
    padding-top: 5rem;
    margin-left: 15rem;
    /* width: 100%; */
    /* justify-content: space-around; */
    gap: 4rem;
}

.horse-text {
    align-items: center;
    justify-content: center;
    text-align: right;
    margin-left: 13rem;
    margin-top: 12rem;
    padding-right: 2rem;

}

.play-instant {
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.horse-text-title {
    color: #0B0223;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.horse-text-para {

    color: #534C64;
    text-align: right;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 22rem;
}

.horse-img {
    padding-left: 4rem;
}

.talking-badge {
    position: relative;
    bottom: 18rem;
}

.horse-img-main {
    margin-left: 10rem;
}



   /* icon section starts from here  */

     
     .icon{
        width: 100%;
        height: 427px;
        flex-shrink: 0;
        background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    }
     .box{
        
        display:flex;
        gap:5px;
        width: 300px;
        height: 80px;
        
        
        
  }
     .box:hover{
             
      border-radius: 50px ;
      border:1px solid lightblue;
      background-color: #FFF;
      
     }
     .container{
         display:flex;
         flex-wrap: wrap;
         gap:20px;
         padding-top:7rem;
         padding-left:14rem;
         
     }
     .box>h3{
         align-items: center;
     }
      #b6,#b7,#b8,#b9{
           position: relative;
           left:40px;
      }

/* footer section styles */

.footer{
    width: 100%;
    height: 40rem;
    background: #0B0223;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.gameicon{
    justify-content: center;
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
    padding-top: 100px;
    text-align: center;
    display: flex;
    gap: 1rem;
}
#game-icon-footer{
    padding-top: 4.8rem;
}
.style-g{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.footer-links>ul>li{
    list-style: none;

display:inline-flex;
padding-left:5rem;
gap:.8rem;


}
.footer-links>ul>li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.footer-links{
    padding-left: 30rem;
    align-items: center;
}


.social-icons{
    /* padding-left: 45rem; */
    margin-left: 46rem;
    margin-top: 3rem;
    align-items: center;
}

.social-icons>ul>li{
    list-style: none;

display:inline-flex;
/* padding-left:5rem; */
gap:2rem;
}

.conditions{
    display: flex;
    /* color: rgba(255, 255, 255, 1); */
    color: rgba(255, 255, 255, 0.60);
    /* align-items: center; */
    /* text-align: center; */
    justify-content: center;
    gap: 2rem;
}





/* responsive layout styles  */

@media screen and (max-width:425px) {

    .gamer-nav,
    .game-about,
    .about-us,
    .gamers,
    .game-cards,
    .horse-container
    {
        flex-direction: column;
    }

    .gamer{
       margin-left: 1rem;
       gap: 1rem;
    }
    .game-about{
        margin-left: 1rem;
    }
    .about-us{
        display: flex;
        flex-direction: column;
        padding-left: 10rem;
    }
    .follow-us{
    padding-left: 15rem;
    width: 150px;
    height: 56px;
    margin-left: 4rem;
    }

    .goat{
        flex-direction: column-reverse;
    }
    .play-home img{
        width: 300px;
        height: 400px;
        padding-top:300px;
        padding-left: 50px;
    }
    .play{
        padding-left: 1rem;
    }
    .play-title{
        font-size: 2rem;
        padding-left: 3rem;
    }
    .goat-title{
        font-size: 4rem;
    }
    .para{
        font-size: 1rem;
        padding-left:40px;
    }
    .btn-primary{
font-size: 1rem;
    }
    .rogue-btn{
        font-size: 1rem;
    }
    .sign-btn{
        padding-left: 2rem;
    }
    .gamers-img,
    .game-cards img{
        width: 300px;
        height: 400px;
        padding-right: 600px;
    }
    .gamers-content{
        padding-left: 12rem;
        text-align: center;
    }
    .gamers-content-title{
        font-size: 2rem;
        text-align: center;
    
    }

    .online-game{
        margin-top: 40rem;
    }
    .game-cards{
        padding-right: 50rem;
        margin-left: 1rem;
    }
.horse-container{
    margin-left: 1rem;
    padding-top: 1rem;
}
.horse-text{
    margin-left: 1rem;
    font-size: 2rem;
    text-align: center;
    padding-right:2rem;
} 
.horse-img{
    padding-left: 0rem;
}
.horse-img-main{margin-left: 4rem;}
.horse-img-main img{
    width: 300px;
    height:400px;
}
.talking-badge{
    width: 50px;
    height: 100px;
}
.footer{
    margin-top: 40rem;
}
.social-icons{margin-left: 1rem;
    width:300px;
    gap:0.2rem;
    flex-wrap: wrap;
    padding-left:1rem;
}
.footer-links, .footer-links>ul>li{
    padding-left: 1rem;
}
.container{
    padding-left: 3rem;
}
.conditions{
        padding-left: 1rem;
        align-items: center;
}
.web{
    padding-top: 2rem;
}
.gameicon{ padding-top: 1rem;}
#apple{padding-right: 3rem;}
#b6,#b7,#b8,#b9{
    position: relative;
    left:00px;
}

}